* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.tela {
    display: flex;
    height: 100vh;
}
.ladoEsquerdo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ladoEsquerdo img {
    width: 80%;
    height: auto;
}
.ladoDireito {
    width: 430px;
    background-color: #ddd;
    padding: 50px;
}
.ladoDireito label {
    display: block;
    margin-bottom: 14px;
}
.ladoDireito input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 7px;
    font-size: 14px;
    outline: 0;
}